[Unit]
Description=Pure Github Push Relay
Documentation=https://github.com/shmookey/pure

[Service]
ExecStart=/usr/bin/pure
Type=forking
PIDFile=/var/run/pure/pure.pid

[Install]
WantedBy=multi-user.target

